<div id="tags">
    <%= link_to "Users", users_path, class: "tags bg-warning" %>
    <%= link_to "Question", questions_path, class: "tags bg-warning" %>
    <%= link_to "Mosvisited", "", class: "tags bg-warning" %>
    <%= link_to "Tags", "#", class: "tags bg-warning" %>
    <%= link_to "Ask Question", new_question_path, class: "tags bg-warning" %>
</div>